/*Fonts*/
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic);
aside
{
	width: 23.6068%;
	margin:0;
	margin-right: 0.6888%;
	float: left;
}
body
{
	margin:0;
}
header
{
	width:100%;
}
#contenido
{
	width: 100%;
}
