/*Fonts*/
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic);
/*Init*/
a{text-decoration: none;}
html,body{background-color:#f2f2f2;font-family:'Libre Baskerville',serif;height:100%;margin:0;padding:0;width:100%;}
h1,h2,h3,h4{margin:0 0 .3803em 0;padding:0;color:white;}

/*Vertical Align*/
.vtext{display:table-cell;vertical-align:middle;text-align:center;}
.vtext h3{padding:0;margin:0;font-weight:100;color:#4d4d4d;font-size:1.62em;}
.vtext h4{color:#800000;margin:1em;font-weight:100;}
/*Header*/
header,section,nav{color:#4d4d4d;display:table;font-size:80%;height:100%;width:100%;position:relative;}

/*Nav*/
nav.top-header{background-color:#900020;position:fixed;top:0;display:table;height:10%;min-height:2em;width:100%;}
nav.top-header>ul{padding:0;list-style:none}
nav.top-header>ul li{display:inline;margin: 0 1em;}
nav.top-header>ul li a{color:#ffffff;}
nav.top-header>ul li a:hover,footer>p a:hover{color:#febf01;}
/*Sections*/
section{padding:20% 20%;width:60%;overflow:auto;vertical-align:middle}
/*Me Section*/
#me *{color:#3f3f3f;}
/*Portfolio Section*/
#portfolio{background-color:#006680;}
/*Contact Section*/
#contact{background-color:#aa0000;}
/*Go to top*/
.go-top-sets{position:fixed;right:3%;bottom:8%;}
.go-top-sets>ul{padding:0;list-style:none;}
/*Icons*/
[class^="flaticon-"]:before,[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,[class*=" flaticon-"]:after{margin-left:0;font-size: 5em;}
/*Go to top icon*/
.flaticon-up7:before {color:#f2f2f2;font-size:3em}
/*Headers*/
#portfolio h2,#contact h2{border-bottom:thin solid white;text-align:center;}
#me h2{border-bottom:thin solid #3f3f3f;text-align:center;}
/*Me*/
#me ul{list-style: none;padding:0;color:white;}
#me ul li{margin:1.62em 0;min-width:100px;text-align:center;display:block;}
#me ul li a{display:block;}
#me ul li a:hover{display:block;color:#006680;}

#me ul li a .flaticon-archery:before,
#me ul li a .flaticon-class:before,
#me ul li a .flaticon-climb:before,
#me ul li a .flaticon-couple10:before,
#me ul li a .flaticon-man38:before,
#me ul li a .flaticon-person30:before,
#me ul li a .flaticon-person90:before,
#me ul li a .flaticon-superman:before,
#me ul li a .flaticon-up7:before{
  display:block;
}
/*Footer*/
footer{background-color:#006680;color:#f2f2f2;height:6%;width:100%;text-align:center;vertical-align:middle;font-size:80%;position:relative;}
footer>a{color: #ffffff;}
footer>a .flaticon-circle6:before,
footer>a .flaticon-github3:before,
footer>a .flaticon-linkedin2:before,
footer>a .flaticon-mail8:before,
footer>a .flaticon-twitter4:before{
  font-size:1.62em;
}

.salto{display:inline-block;margin:1em 0;}
.left{text-align: left !important;}
/*Media Queries*/
@media(min-width:30em){
  header,section,nav,footer{font-size:100%;}
  h1{font-size: 18.0754em;}
  h2{font-size: 6.8874em;}
  h3{font-size: 2.6244em;}
  h4{font-size: 1em;}
  section{padding:6% 20%;}
  nav.top-header>ul li{margin:0 3em;}
  #me h2,#portfolio h2,#contact h2{text-align:left}
  #me ul{text-align:center;margin:0 auto;}
  #me ul .salto{display:block;margin:1.62em 0;}
  #me ul li{margin-right:4em;display:inline-block;}
  .salto{display:inline-block;margin:1.62em 0;}
  footer{position:fixed;bottom:0;height:8%;}
}

