@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
  font-size: 20px;
	font-style: normal;
	margin-left: 20px;
}
.flaticon-archery:before {
	content: "\e000";
}
.flaticon-circle6:before {
	content: "\e001";
}
.flaticon-class:before {
	content: "\e002";
}
.flaticon-climb:before {
	content: "\e003";
}
.flaticon-couple10:before {
	content: "\e004";
}
.flaticon-github3:before {
	content: "\e005";
}
.flaticon-linkedin2:before {
	content: "\e006";
}
.flaticon-mail8:before {
	content: "\e007";
}
.flaticon-man38:before {
	content: "\e008";
}
.flaticon-person30:before {
	content: "\e009";
}
.flaticon-person90:before {
	content: "\e00a";
}
.flaticon-superman:before {
	content: "\e00b";
}
.flaticon-twitter4:before {
	content: "\e00c";
}
.flaticon-up7:before {
	content: "\e00d";
}
